@charset "UTF-8";
/* reset */
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

address, em, i, cite {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

table caption {
  overflow: hidden;
  width: 0;
  height: 0;
}

i[class^="xi"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

i[class^="xi"] span {
  position: absolute;
  left: -9999px;
}

.ir-hidden {
  position: absolute;
  left: -9999px;
}

:root {
  --background-color: #AECBE3;
  --text-color: #171717;
  --menu-color: #333333;
  --font-family: 'NanumSquare', 'sans-serif';
  --link-background-color: #333333;
  --link-text-color: #D6D6D6;
  --box-shadow-color: rgba(0,0,0,0.25);
  --cursor-gradient: radial-gradient(circle, rgba(225,65,96,1) 0%, rgba(255,150,31,0.55) 30%, rgba(174,203,227,0) 50%);
}

html[data-theme='light'] {
  --background-color: #AECBE3;
  --text-color: #171717;
  --menu-color: #333333;
  --link-background-color: #333333;
  --link-text-color: #D6D6D6;
  --box-shadow-color: rgba(0,0,0,0.25);
  --cursor-gradient: radial-gradient(circle, rgba(225,65,96,1) 0%, rgba(255,150,31,0.55) 30%, rgba(174,203,227,0) 50%);
}

html[data-theme='dark'] {
  --background-color: #00025B;
  --text-color: #F0F0F0;
  --menu-color: #D6D6D6;
  --link-background-color: #D6D6D6;
  --link-text-color: #333333;
  --box-shadow-color: rgb(214, 214, 214,0.25);
  --cursor-gradient: radial-gradient(circle, rgba(191,19,53,0.8) 0%, rgba(218,94,21,0.5) 30%, rgba(0,2,91,0) 50%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "NanumSquare", "sans-serif";
  font-size: 14px;
}

header {
  color: var(--menu-color);
}

a {
  position: relative;
}

a.active:hover::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--link-background-color);
  -webkit-animation: link_underline 0.2s ease-in;
          animation: link_underline 0.2s ease-in;
}

#skip-nav {
  position: fixed;
  left: 0;
  top: -40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: var(--link-background-color);
  color: var(--link-text-color);
  opacity: 0.7;
  font-size: 16px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  z-index: 10000;
}

#skip-nav:focus {
  top: 0;
}

section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0 50px;
}

section > .box {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: calc(100% - 200px);
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section > .box h3 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
}

.ticker {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: -50px;
}

.ticker .scroll {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.ticker .scroll > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--menu-color);
  opacity: 0.3;
  font-size: 24px;
  -webkit-animation: ticker_translate 40s linear infinite;
          animation: ticker_translate 40s linear infinite;
  -webkit-animation-delay: -40s;
          animation-delay: -40s;
}

.ticker .scroll > ul:nth-child(2) {
  -webkit-animation: ticker_translate2 40s linear infinite;
          animation: ticker_translate2 40s linear infinite;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

.ticker .scroll > ul > li {
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ticker ul > li + li {
  padding-left: 40px;
  position: relative;
}

.ticker ul > li + li::before {
  position: absolute;
  left: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '|';
}

@media only screen and (min-width: 940px) {
  .mobile {
    display: none !important;
  }
}

br.only-m {
  content: '';
}

br.only-m::after {
  content: '\00a0';
}

#header {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: 55px;
  z-index: 1000;
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 800;
}

#header .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

#header .box h1 {
  font-size: 18px;
}

#header .theme {
  position: absolute;
  right: 0;
  top: 100px;
}

#header .theme a {
  width: 40px;
  height: 40px;
  background: var(--link-background-color);
  color: var(--link-text-color);
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
          box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
  border-radius: 10px 0 0 10px;
}

#header .theme a.light > i:first-child {
  display: inline-block;
}

#header .theme a.light > i:last-child {
  display: none;
}

#header .theme a.dark > i:first-child {
  display: none;
}

#header .theme a.dark > i:last-child {
  display: inline-block;
}

#gnb > ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#gnb > ul li + li {
  margin-left: 40px;
}

#gnb > ul li.on > a::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--link-background-color);
  -webkit-animation: link_underline 0.2s ease-in;
          animation: link_underline 0.2s ease-in;
}

@media only screen and (max-width: 940px) {
  #gnb {
    position: absolute;
    right: 50px;
    top: 30px;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
  }
  #gnb > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #gnb > ul > li {
    margin-bottom: 10px;
  }
  #gnb > ul > li + li {
    margin-left: 0;
  }
  a.menu.close + #gnb {
    height: 155px;
  }
}

a.menu {
  position: relative;
  width: 24px;
  height: 16px;
}

a.menu::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  height: 2px;
  background: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.menu span {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: 2px;
  background: #000000;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.menu::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  height: 2px;
  background: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.menu.close::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(42deg);
          transform: translate(-50%, -50%) rotate(42deg);
  width: 120%;
}

a.menu.close span {
  opacity: 0;
}

a.menu.close::after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-42deg);
          transform: translate(-50%, -50%) rotate(-42deg);
  width: 120%;
}

.mouse-cursor-tracking {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.mouse-cursor-tracking::before {
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 1600px;
  height: 1600px;
  background: var(--cursor-gradient);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ticker .scroll.txt {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: calc(-50% + 50px);
  top: 50%;
}

.ticker .scroll.txt1 {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  left: 0;
  top: 30%;
}

.ticker .scroll.txt2 {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  left: 0;
  top: 65%;
}

.ticker .scroll.txt3 {
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
  left: -30%;
  top: 50%;
}

#home .tit {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 550px;
}

#home .tit h3 {
  font-size: 9em;
}

#home .tit p {
  text-align: right;
  font-size: 20px;
  padding-right: 20px;
}

#home a.down {
  position: absolute;
  left: 50%;
  bottom: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 36px;
  -webkit-animation: bounce 0.7s infinite alternate;
          animation: bounce 0.7s infinite alternate;
}

@media only screen and (max-width: 650px) {
  #home .tit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .tit h3 {
    font-size: 5em;
  }
  #home .tit p {
    font-size: 18px;
  }
}

#about > .box {
  padding: 50px 50px 50px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about > .box p {
  font-weight: 700;
  font-size: 65px;
}

#about > .box p.brain span:nth-child(1)::after {
  content: "🧠";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about > .box p.thinking span:nth-child(1)::after {
  content: "🤔";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about > .box p.developer span:nth-child(1)::after {
  content: "👩‍💻";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about > .box p.fire span:nth-child(1)::after {
  content: "🔥";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about > .box p span {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#about.on > .box > p span:nth-child(1) {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  padding-right: 80px;
}

#about.on > .box > p span:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  padding-left: 10px;
}

#about.on > .box > p.brain span:nth-child(1)::after {
  -webkit-animation: emoji_scale 0.5s linear forwards;
          animation: emoji_scale 0.5s linear forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#about.on > .box > p.thinking span:nth-child(1)::after {
  -webkit-animation: emoji_scale 0.5s linear forwards;
          animation: emoji_scale 0.5s linear forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#about.on > .box > p.developer span:nth-child(1)::after {
  -webkit-animation: emoji_scale 0.5s linear forwards;
          animation: emoji_scale 0.5s linear forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#about.on > .box > p.fire span:nth-child(1)::after {
  -webkit-animation: emoji_scale 0.5s linear forwards;
          animation: emoji_scale 0.5s linear forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@media only screen and (max-width: 940px) {
  #about > .box p {
    font-size: 40px;
  }
  #about.on > .box > p span:nth-child(1) {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    padding-right: 50px;
  }
}

@media only screen and (max-width: 650px) {
  #about > .box p {
    font-size: 26px;
  }
  #about.on > .box > p span:nth-child(1) {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    padding-right: 32px;
  }
}

#skill ul.col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#skill ul.col-3 > li > h5 {
  font-size: 18px;
  margin-bottom: 40px;
}

#skill ul.col-3 .ul-edu > li {
  margin-bottom: 30px;
}

#skill ul.col-3 .ul-edu > li p:first-child {
  font-weight: 700;
  font-size: 16px;
}

#skill ul.col-3 .ul-edu > li p {
  font-size: 14px;
}

#skill ul.col-3 .ul-meter > li {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
}

#skill ul.col-3 .ul-meter > li p.meter {
  display: block;
  margin-top: 10px;
  width: 300px;
  height: 8px;
  border-radius: 100px;
  position: relative;
}

#skill ul.col-3 .ul-meter > li p.meter span {
  width: 100%;
  background-color: var(--menu-color);
  opacity: 1;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

#skill ul.col-3 .ul-meter > li p.meter::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--menu-color);
  opacity: 0.4;
  border-radius: 100px;
}

#skill ul.col-3 .ul-meter > li p.high + p.meter > span {
  width: 100%;
}

#skill ul.col-3 .ul-meter > li p.mid-high + p.meter > span {
  width: 80%;
}

#skill ul.col-3 .ul-meter > li p.mid + p.meter > span {
  width: 50%;
}

#skill ul.col-3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--text-color);
  left: 0;
  top: 30px;
}

#skill.on ul.col-3 span {
  -webkit-animation: horizontal_scale 3s ease-out;
          animation: horizontal_scale 3s ease-out;
}

#portfolio .sticky-container {
  position: relative;
  top: 0;
  height: calc(100% - 98px);
}

#portfolio .filter {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 40px;
  display: none !important;
}

#portfolio .filter button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  outline: none;
  color: inherit;
  font: inherit;
  background: transparent;
  -webkit-appearance: none;
  cursor: pointer;
  padding: 5px;
  min-width: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}

#portfolio .filter button.on {
  background: var(--link-background-color);
  color: var(--link-text-color);
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
          box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
}

#portfolio ul.list {
  text-align: center;
  overflow: auto;
  height: calc(100% - 66px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#portfolio ul.list > li {
  width: 50%;
  margin-bottom: 50px;
}

#portfolio ul.list > li > .img {
  width: 300px;
  float: left;
  margin-right: 40px;
}

#portfolio ul.list > li > .info {
  text-align: left;
  overflow: hidden;
}

#portfolio ul.list > li > .info > * {
  margin-bottom: 10px;
}

#portfolio ul.list > li > .info p.tit {
  font-weight: 700;
  font-size: 18px;
}

#portfolio ul.list > li > .info ul.tags {
  display: block;
  width: 100%;
}

#portfolio ul.list > li > .info ul.tags li {
  display: inline-block;
  margin: 5px;
  background: var(--link-background-color);
  color: var(--link-text-color);
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
          box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
}

#portfolio ul.list > li > .info ul.link li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 14px;
  position: relative;
}

#portfolio ul.list > li > .info ul.link li::before {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  content: '➚';
}

@media only screen and (max-width: 1200px) {
  #portfolio ul.list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #portfolio ul.list > li {
    width: 100%;
    margin-bottom: 0;
  }
  #portfolio ul.list > li + li {
    margin-top: 50px;
  }
}

.popup-layer {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60vw;
  height: 70vh;
  min-width: 700px;
  min-height: 500px;
  background: var(--link-background-color);
  color: var(--link-text-color);
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
          box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
  display: none;
}

.popup-layer .box {
  width: 100%;
  height: 100%;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.popup-layer .box a.close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  color: var(--link-text-color);
}

.popup-layer h5 {
  font-size: 30px;
  margin-bottom: 50px;
}

.popup-layer .img {
  width: 300px;
  float: left;
  margin-right: 30px;
}

.popup-layer .content {
  text-align: left;
}

.popup-layer .content p:first-child {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.popup-layer .content ol > li {
  margin-bottom: 10px;
}

.popup-layer .content p:nth-child(3) {
  margin-top: 20px;
}

.popup-layer.on {
  display: block;
}

#contact .content {
  position: relative;
  height: 250px;
  width: 500px;
  margin: 0 auto;
}

#contact .memoji {
  position: absolute;
  width: 250px;
  right: 0;
  top: 0;
}

#contact .contact-info {
  height: 100%;
  vertical-align: middle;
  padding-top: 50px;
}

#contact .contact-info div {
  position: relative;
  padding-left: 50px;
  margin: 0 0 50px 50px;
}

#contact .contact-info div::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 40px;
}

#contact .contact-info div.linkedin::before {
  content: '\ebf4';
  font-family: 'xeicon';
}

#contact .contact-info div.email::before {
  content: '\ea06';
  font-family: 'xeicon';
}

@media only screen and (max-width: 650px) {
  #contact .content {
    width: 100%;
  }
  #contact .memoji {
    position: fixed;
    width: 100%;
    top: 50%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@-webkit-keyframes menu_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes link_underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes link_underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes ticker_translate {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes ticker_translate {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes ticker_translate2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes ticker_translate2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes emoji_scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes emoji_scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes horizontal_scale {
  0% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

@keyframes horizontal_scale {
  0% {
    -webkit-transform: scaleX(0.2);
            transform: scaleX(0.2);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
/*# sourceMappingURL=style-pc.css.map */