@charset "UTF-8";
/* reset */
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

address, em, i, cite {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

table caption {
  overflow: hidden;
  width: 0;
  height: 0;
}

i[class^="xi"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

i[class^="xi"] span {
  position: absolute;
  left: -9999px;
}

.ir-hidden {
  position: absolute;
  left: -9999px;
}

body {
  font-family: "Anonymous Pro", "monospace";
  font-size: 14px;
  color: #333;
}

#skip-nav {
  position: fixed;
  left: 0;
  top: -40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  z-index: 10000;
}

#skip-nav:focus {
  top: 0;
}

section > div.box {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 100px);
  outline: 1px solid pink;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page:nth-child(1), .page:nth-child(2), .page:nth-child(3), .page:nth-child(4), .page:nth-child(5) {
  height: 100vh;
  position: relative;
}

.page:nth-child(1) {
  background: url(../img/bg_1.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.page:nth-child(2) {
  background: url(../img/bg_2.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.page:nth-child(3) {
  background: url(../img/bg_3.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.page:nth-child(4) {
  background: url(../img/bg_4.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.page:nth-child(5) {
  background: url(../img/bg_5.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.ticker {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ticker .scroll {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.ticker .scroll > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  opacity: 0.3;
  font-size: 24px;
  -webkit-animation: ticker_translate 40s linear infinite;
          animation: ticker_translate 40s linear infinite;
  -webkit-animation-delay: -40s;
          animation-delay: -40s;
}

.ticker .scroll > ul:nth-child(2) {
  -webkit-animation: ticker_translate2 40s linear infinite;
          animation: ticker_translate2 40s linear infinite;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

.ticker .scroll > ul > li {
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ticker ul > li + li {
  padding-left: 40px;
  position: relative;
}

.ticker ul > li + li::before {
  position: absolute;
  left: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '|';
}

.mobile {
  display: none !important;
}

br.only-m {
  content: '';
}

br.only-m::after {
  content: '\00a0';
}

#header {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: 55px;
  z-index: 1000;
  padding: 0 50px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .box {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

#gnb {
  position: absolute;
  right: 0;
  top: 0;
}

#gnb .circle {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate(30%, -30%) scale(0);
          transform: translate(30%, -30%) scale(0);
  background: #333;
  width: 40vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

#gnb a.btn.on + .circle {
  -webkit-transform: translate(30%, -30%) scale(1);
          transform: translate(30%, -30%) scale(1);
}

#gnb a.btn.on ~ .sub {
  display: block;
}

#gnb .sub {
  position: absolute;
  color: #fff;
  right: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  text-align: right;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  display: none;
  -webkit-animation: menu_opacity 0.5s linear 1;
          animation: menu_opacity 0.5s linear 1;
}

@media screen and (max-width: 1400px) {
  #gnb .sub {
    right: -50px;
  }
}

#gnb .sub a.close {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 40px;
}

#gnb .sub ul li + li {
  margin-top: 12px;
}

#gnb.light a.btn {
  color: #D6D6D6;
}

#gnb.light a.btn::after {
  background-color: #D6D6D6;
}

#gnb.light .circle {
  background: #D6D6D6;
}

#gnb.light .sub {
  color: #171717;
}

.ticker .scroll.txt {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: calc(-50% + 50px);
  top: 50%;
}

.ticker .scroll.txt1 {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  left: 0;
  top: 30%;
}

.ticker .scroll.txt2 {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  left: 0;
  top: 65%;
}

.ticker .scroll.txt3 {
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
  left: -30%;
  top: 50%;
}

#home .tit {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 550px;
}

#home .tit h3 {
  font-size: 10em;
}

#home .tit ul {
  text-align: right;
}

#home .tit ul li {
  font-size: 20px;
  line-height: 1.3em;
}

#home a.down {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 36px;
  -webkit-animation: bounce 0.7s infinite alternate;
          animation: bounce 0.7s infinite alternate;
}

#about > .box {
  padding: 50px 50px 50px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#about > .box p {
  font-weight: 700;
  font-size: 65px;
  color: #fff;
}

#about > .box p.brain span:nth-child(1)::after {
  content: "🧠";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about > .box p.thinking span:nth-child(1)::after {
  content: "🤔";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about > .box p.developer span:nth-child(1)::after {
  content: "👩‍💻";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about > .box p.fire span:nth-child(1)::after {
  content: "🔥";
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about > .box p span {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#about.on > .box > p span:nth-child(1) {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  padding-right: 80px;
}

#about.on > .box > p span:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

#about.on > .box > p.brain span:nth-child(1)::after {
  -webkit-animation: emoji_scale 0.5s linear forwards;
          animation: emoji_scale 0.5s linear forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#about.on > .box > p.thinking span:nth-child(1)::after {
  -webkit-animation: emoji_scale 0.5s linear forwards;
          animation: emoji_scale 0.5s linear forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#about.on > .box > p.developer span:nth-child(1)::after {
  -webkit-animation: emoji_scale 0.5s linear forwards;
          animation: emoji_scale 0.5s linear forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#about.on > .box > p.fire span:nth-child(1)::after {
  -webkit-animation: emoji_scale 0.5s linear forwards;
          animation: emoji_scale 0.5s linear forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

a.btn {
  position: relative;
  display: inline-block;
  font-weight: 700;
  padding-left: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.btn::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 1em;
  height: 1em;
  background-color: #333;
  border-radius: 100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@-webkit-keyframes menu_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ticker_translate {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes ticker_translate {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes ticker_translate2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes ticker_translate2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes emoji_scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes emoji_scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=style-pc.css.map */