$font-family: 'NanumSquare', 'sans-serif';
$med-screen: 1200px;
$small-screen: 940px;
$xsmall-screen: 650px;

@mixin link-underline {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--link-background-color);
  animation: link_underline 0.2s ease-in;
}
@mixin link-box {
  background: var(--link-background-color);
  color: var(--link-text-color);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 3px var(--box-shadow-color);
}

:root {
  --background-color: #AECBE3;
  --text-color: #171717;
  --menu-color: #333333;
  --font-family: 'NanumSquare', 'sans-serif';
  --link-background-color: #333333;
  --link-text-color: #D6D6D6;
  --box-shadow-color: rgba(0,0,0,0.25);
  --cursor-gradient: radial-gradient(circle, rgba(225,65,96,1) 0%, rgba(255,150,31,0.55) 30%, rgba(174,203,227,0) 50%);
}

html[data-theme='light'] {
  --background-color: #AECBE3;
  --text-color: #171717;
  --menu-color: #333333;
  --link-background-color: #333333;
  --link-text-color: #D6D6D6;
  --box-shadow-color: rgba(0,0,0,0.25);
  --cursor-gradient: radial-gradient(circle, rgba(225,65,96,1) 0%, rgba(255,150,31,0.55) 30%, rgba(174,203,227,0) 50%);
}
html[data-theme='dark'] {
  --background-color: #00025B;
  --text-color: #F0F0F0;
  --menu-color: #D6D6D6;
  --link-background-color: #D6D6D6;
  --link-text-color: #333333;
  --box-shadow-color: rgb(214, 214, 214,0.25);
  --cursor-gradient: radial-gradient(circle, rgba(191,19,53,0.8) 0%, rgba(218,94,21,0.5) 30%, rgba(0,2,91,0) 50%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $font-family;
  font-size: 14px;
}

header {
  color: var(--menu-color);
}

a {
 position: relative; 
}
a.active:hover::after {
  @include link-underline;
}

#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: var(--link-background-color); color: var(--link-text-color); opacity: 0.7; font-size: 16px; transition: top 0.3s; z-index: 10000;}
#skip-nav:focus {top: 0;}

section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0 50px;
}

section > .box {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: calc(100% - 200px);
  top: 150px;
  left: 50%;
  transform: translateX(-50%);

  h3 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
  }
}

.ticker {
  position: relative;
  width: 100vw;
  height: 100vh;
  left: -50px;
}

.ticker .scroll {
  overflow: hidden;
  width: 100%;
  display: flex;
  position: absolute;
}

.ticker .scroll > ul {
  width: 100%;
  display: flex;
  color: var(--menu-color);
  opacity: 0.3;
  font-size: 24px;
  animation: ticker_translate 40s linear infinite;
  animation-delay: -40s;
}

.ticker .scroll > ul:nth-child(2) {
  animation: ticker_translate2 40s linear infinite;
  animation-delay: -20s;
}

.ticker .scroll > ul > li {white-space: nowrap; box-sizing: border-box;}

.ticker ul > li + li {padding-left: 40px; position: relative;}
.ticker ul > li + li::before {position: absolute; left: 20px; transform: translateX(-50%); content: '|';}

