$font-family: 'Anonymous Pro', 'monospace';
$text-dark: #171717;
$text-light: #fff;
$primary-dark: #333;
$secondary-light: #D6D6D6;

.light {color: $secondary-light !important;}

body {font-family: $font-family; font-size: 14px; color: $primary-dark;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.7); color: $text-light; font-size: 16px; transition: top 0.3s; z-index: 10000;}
#skip-nav:focus {top: 0;}

section > div.box {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 100px);
  outline: 1px solid pink;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%page-common {
  height: 100vh;
  position: relative;
  // overflow: hidden;
}

@for $i from 1 through 5 {
  .page:nth-child(#{$i}) {
    @extend %page-common;
    background: url(../img/bg_#{$i}.jpg) 50% 50% no-repeat;
    background-size: cover;
  };
}

.ticker {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ticker .scroll {
  overflow: hidden;
  width: 100%;
  display: flex;
  position: absolute;
}

.ticker .scroll > ul {
  width: 100%;
  display: flex;
  color: $primary-dark;
  opacity: 0.3;
  font-size: 24px;
  animation: ticker_translate 40s linear infinite;
  animation-delay: -40s;
}

.ticker .scroll > ul:nth-child(2) {
  animation: ticker_translate2 40s linear infinite;
  animation-delay: -20s;
}

.ticker .scroll > ul > li {white-space: nowrap; box-sizing: border-box;}

.ticker ul > li + li {padding-left: 40px; position: relative;}
.ticker ul > li + li::before {position: absolute; left: 20px; transform: translateX(-50%); content: '|';}

