#contact {
  .content {
    position: relative;
    height: 250px;
    width: 500px;
    margin: 0 auto;
  }

  .memoji {
    position: absolute; width: 250px; right: 0; top: 0;
  }

  .contact-info {
    height: 100%;
    vertical-align: middle;
    padding-top: 50px;

    div {
      position: relative; padding-left: 50px; margin: 0 0 50px 50px;
    }

    div::before {position: absolute; left: 0; top: 50%; transform: translateY(-50%); font-size: 40px;}

    div.linkedin::before {content: '\ebf4'; font-family: 'xeicon';}
    div.email::before {content: '\ea06'; font-family: 'xeicon';}
  }
}

@media only screen and (max-width: $xsmall-screen) {
  #contact {
    .content {width: 100%;}
    .memoji {
      position: fixed;
      width: 100%;
      top: 50%;
      right: 50%;
      transform: translateX(50%);
    }

    .contact-info {

    }
  }
}