// home
#home .tit {
  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 550px;

  h3 {
    font-size: 10em;
  }
  
  ul {
    text-align: right;

    li {
      font-size: 20px;
      line-height: 1.3em;
    }
  }
}
#home a.down {position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); font-size: 36px; animation: bounce 0.7s infinite alternate;}