@mixin keyframe($animation_name){
  @-webkit-keyframes #{$animation_name}{
      @content;
  }
  @-moz-keyframes #{$animation_name}{
    @content;
  }
  @-o-keyframes #{$animation_name}{
    @content;
  }
  @keyframes #{$animation_name}{
    @content;
  }
}

@include keyframe(menu_opacity) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframe(link_underline) {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@include keyframe(ticker_translate) {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@include keyframe(ticker_translate2) {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

@include keyframe(bounce) {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@include keyframe(emoji_scale) {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@include keyframe(horizontal_scale) {
	0% {
		transform: scaleX(0.2);
		transform-origin: 0% 0%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 0% 0%;
	}
}